.formWrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  gap:15px;
  width: 40vw;
  flex-direction: column;
  padding: 20px 40px;
  box-shadow: 0 0 8px 8px lightgreen;
  & button{
    background-color: teal;
    color:white;
    padding:10px 12px;
    border: none;
  }
}
.label{
  display: flex;
  gap:5px;
  flex-direction: column;
  & span{
    font-weight: bold;
  }

}
.input{
  padding: 5px;
  border-radius: 8px;

}