.box{
  box-shadow: 0 0 5px 5px rgb(31, 246, 246);
  width: 200px;
  height: 200px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  gap:20px;
  padding: 20px ;
}
.red{
  composes: box;
  background-color: red;
}
.black{
  composes: box;
  background-color: black;
  width: 400px;
}